@media (min-width:480px) and (max-width:767px) {
  header {
    padding-bottom: 29px;
  }

  .slider-conteiner{
    padding: 0px;
  }

  .slider {
    height: 245px;
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    padding-top: 0;
  }

  .slider__content {
    float: left;
    padding-left: 8%;
    padding-top: 91px;
    width: 42%;
  }

  .slider__content__h1 {
    letter-spacing: 0;
  }

  .slider__img {
    display: block;
    float: right;
    width: 40%;
    margin-top: -10px;
    padding-right: 6.5%;
  }

  .slider__nav {
    width: 86px;
    position: relative;
    margin-left: 38%;
    padding-left: 0;
    padding-top: 5%;
  }

  .about {
    padding-top: 60px;
  }

  .about__item:last-child {
    padding-top: 4px;
  }

  .box {
    width: 93%;
    padding-left: 0px;
  }

  .starts {
    width: 92%;
    background-size: 103%;
  }

  .starts__content {
    padding-top: 27px;
    padding-bottom: 26px;
    padding-left: 13%;
  }

  .starts__label {
    font-size: 30px;
    display: inline-block;
  }

  .starts__label--color {
    padding-left: 5px;
  }

  .starts__text {
    padding-top: 15px;
    padding-left: 0;
    width: 95%;
  }

  .starts__text .hidden, .optional{
    display: inline;
  }

  .info__slider {
    padding-top: 24px;
    padding-left: 14px;
  }

  .updates {
    padding-left: 13.5%;
    width: 79%;
  }

  .updates__li:last-child {
    padding-top: 21px;
  }

  .updates__li__label {
    width: 100%;
  }

  .updates__more {
    padding-top: 18px;
    padding-right: 24px;
  }

  .partners {
    width: 100%;
    padding-bottom: 38px;
    margin: 0px auto;
  }

  .partners__logo:first-child {
    padding-top: 35px;
    padding-right: 11%;
    padding-left: 17%;
  }

  .partners__logo:nth-child(3) {
    padding-top: 0;
    padding-left: 10%;
  }

  .partners__logo:nth-child(4) {
    padding-top: 21px;
    padding-left: 17%;
  }

  .partners__logo:nth-child(5) {
    padding-top: 0;
    padding-right: 0;
    padding-left: 9%;
  }

  .partners__logo:last-child {
    padding-top: 0;
    padding-left: 6%;
  }

  .footer-conteiner {
    display: block;
    }

  .footer__columns__wrap {
    padding-left: 18px;
    padding-top: 79px;
  }

  .list__li {
    width: 95%;
    overflow: hidden;
    padding-bottom: 53px;
  }

  .li__content {
    overflow: hidden;
  }

  .list__label {
    font-size: 24px;
  }

  .list__text {
    font-size: 16px;
  }

  .list__text--italic {
    font-size: 14px;
  }

  .footer_menu {
    display: block;
  }

  .footer {
    display: block;
    width: 100%;
    padding-top: 45px;
    padding-left: 21px;
  }

  .menu__li__footer {
    float: left;
    list-style: none;
    padding-right: 5.1%;
  }

  .menu__links__footer {
    font-size: 20px;
  }

  .menu__links__footer:hover {
    border-bottom: 2px solid #edbfff;
  }

  .designed {
    display: block;
    text-align: left;
    width: 29%;
    padding-top: 58px;
    padding-bottom: 47px;
  }
}

@media (min-width:768px) and (max-width:959px) {

  .hidden, .optional2{
  display: inline;
  }

  .logo-conteiner img {
    float: left;
    padding-left: 18px;
  }

  .menu {
    display: block;
    padding-top: 30px;
    padding-left: 20px;
  }

  .menu__li {
    padding-right: 6.9%;
  }

  .menu__links:hover {
    border-bottom: 2px solid #edbfff;
  }

  .sub-menu {
    display: none;
  }

  .slider-conteiner{
    padding: 0px;
  }

  .slider {
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    padding-top: 0;
  }

  .slider-bg{
    margin-top: 82px;
  }

  .slider__content {
    float: left;
    width: 39%;
    padding-top: 89px;
    padding-left: 45px;
  }

  .slider__content__h1 {
    font-size: 48px;
    line-height: 1.3;
  }
    .slider__content__h2 {
    font-size: 24px;
    line-height: 30px;
    overflow: hidden;
  }
  .slider__text {
    display: block;
    width: 95%;
    overflow: hidden;
    padding-top: 4px;
    font-size: 16px;
    word-wrap: break-word;
    line-height: 1.65;
  }

  .slider__text .hidden{
    display: none;
  }

  .slider__img {
    display: block;
    float: right;
    padding-right: 6%;
    margin-top: -25px;
  }

  .slider__nav {
    float: right;
    clear: right;
    width: 84px;
    padding-top: 76px;
    padding-right: 18.5%;
  }

  .active {
    border-color: rgba(0, 0, 0, 0.7);
  }

  .about-box {
    padding-top: 59px;
    padding-bottom: 56px;
  }

  .about__ul {
    padding-left: 2.6%;
  }

  .about__item {
    float: left;
    padding: 0;
    width: 31%;
  }

  .about__item:nth-child(2) {
    padding-left: 2.8%;
    padding-right: 3.8%;
  }

  .about__item:last-child {
    padding-top: 0;
  }

  .box__text {
    padding-top: 2px;
    padding-left: 61px;
  }

  .box__text .hidden{
    display: none;
  }

  .about__link {
    padding-top: 10px;
    padding-right: 15px;
  }

  .starts {
    float: left;
    width: 43%;
    margin-top: 29px;
    margin-left: 2.9%;
  }

  .starts__content {
    padding-top: 29px;
    padding-bottom: 0px;
    padding-left: 64px;
  }

  .starts__text {
    width: 91%;
    padding-top: 8px;
    padding-left: 0;
    letter-spacing: -0.1px;
  }

  .starts__text .optinal{
    display: none;
  }

  .info__slider {
    width: 80px;
    float: left;
    clear: left;
    padding-left: 21%;
  }

  .active--info {
    border-color: #fff;
  }

  .updates {
    width: 49%;
    padding-top: 35px;
    padding-bottom: 87px;
    padding-left: 4.5%;
  }

  .updates__label {
    padding-left: 23px;
  }

  .updates__list {
    padding-left: 25px;
  }

  .updates__li {
    padding-top: 19px;
  }
  .updates__li:after{
  content: "";
  display: block;
  clear: both;
 }

  .updates__li:last-child {
    padding-top: 19px;
  }

  .updates__li__box {
    width: 75%;
  }

  .updates__text {
    line-height: 19px;
  }

  .updates__li__label {
    width: 100%;
  }

  .updates__more {
    padding-top: 19px;
  }

  .partners {
    padding-bottom: 0;
    max-width: 84%;
  }

  .partners__logo {
    padding: 26px 0;
  }

  .partners__logo:first-child {
    padding-top: 26px;
    padding-left: 3%;
    padding-right: 6.5%;
  }

  .partners__logo:nth-child(3) {
    padding-top: 26px;
    padding-left: 6.5%;
    padding-right: 7%;
  }

  .partners__logo:nth-child(5) {
    padding-top: 26px;
    padding-left: 6%;
    padding-right: 6%;
  }

  .footer-conteiner {
    display: block;
  }

  .list {
    padding-top: 102px;
    padding-bottom: 95px;
    padding-left: 20px;
  }

  .list__li {
    float: left;
    width: 26%;
    overflow: hidden;
  }

  .list__text .optional{
    display: none;
  }

  .list__li:nth-child(2) {
    padding-left: 9.7%;
    padding-right: 9.2%;
  }

  .list__label {
    font-size: 24px;
  }

  .list__text {
    padding-top: 10px;
    font-size: 16px;
  }

  .list__text--italic {
    font-size: 12px;
  }

  .footer {
    padding-top: 46px;
  }

  .menu__li__footer {
    padding-right: 5.8%;
  }

  .menu__links__footer {
    font-size: 20px;
  }

  .designed {
    float: right;
    padding-top: 37px;
    padding-right: 2.5%;
    padding-bottom: 47px;
  }
}

@media (min-width:960px) {

  .logo-conteiner {
    float: left;
    width: 158px;
  }

  .logo__item {
    margin-left: 0;
  }

  nav {
    clear: none;
    float: right;
    width: 66%;
  }

  .menu {
    display: block;
    float: right;
    width: 100%;
    padding-top: 8px;
  }

  .menu__li {
    padding-right: 0;
    margin-left: 8%;
  }

  .menu__li:first-child {
    margin-left: 0;
  }

  .menu__links:hover {
    border-bottom: 2px solid #edbfff;
  }

  .sub-menu {
    display: none;
  }

  .slider-conteiner{
    padding: 0px;
  }

  .slider-bg {
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    margin-top: 160px;
  }

  .slider {
    margin: 0 auto;
    padding-top: 0;
  }

  .slider__content {
    float: left;
    width: 54%;
    padding-top: 77px;
    padding-left: 0;
  }

  .slider__content__h1 {
    font-size: 60px;
    line-height: 1;
  }

  .slider__content__h2 {
    font-size: 32px;
    letter-spacing: 0;
  }

  .slider__text {
    display: block;
    width: 99%;
    padding-top: 5px;
    font-size: 18px;
    word-wrap: break-word;
    line-height: 1.4;
  }

  .slider__img {
    display: block;
    float: right;
    padding-right: 7.2%;
    margin-top: -17px;
  }

  .slider__nav {
    float: right;
    clear: right;
    width: 84px;
    padding-top: 76px;
    padding-right: 26.5%;
  }

  .slider__page {
    padding-left: 2px;
  }

  .active {
    border-color: rgba(0, 0, 0, 0.7);
  }

  .about {
    padding-top: 63px;
  }

  .about__item {
    float: left;
    width: 29.5%;
    padding: 0;
  }

  .about__item:nth-child(2) {
    padding-left: 6.9%;
  }

  .about__item:last-child {
    float: right;
    padding-top: 0;
  }

  .box {
    width: 102%;
    padding-top: 13px;
    padding-left: 0px;
  }

  .label {
    font-size: 30px;
  }

  .box__text {
    padding-top: 7px;
    padding-left: 61px;
  }

  .about__link {
    padding-top: 20px;
    padding-right: 14px;
  }

  .starts {
    float: left;
    width: 44%;
    margin-top: 29px;
  }

  .starts__content:after{
    content: '';
    display: block;
    position: absolute;
    right: 20px;
    bottom: -19px;
    border: 10px solid transparent;
    border-top: 10px solid #fff;
    border-right: 10px solid #fff;
}

  .starts__label {
    font-size: 30px;
  }

  .starts__label--color {
    display: inline-block;
    padding-left: 4px;
  }

  .starts__text {
    width: 91%;
    padding-top: 8px;
    padding-left: 0;
    letter-spacing: -0.1px;
    padding-bottom: 0px;
  }

  .starts__text .hidden .optinal{
    display: inline;
  }

  .info__slider {
    width: 87px;
    float: left;
    clear: left;
    padding-left: 20.5%;
    padding-top: 0;
  }

  .active--info {
    border-color: #fff;
  }

  .updates {
    width: 49%;
    padding-top: 35px;
    padding-bottom: 87px;
    padding-left: 3.7%;
  }

  .updates__label {
    padding-left: 23px;
  }

  .updates__list {
    padding-left: 24px;
  }

  .updates__li {
    padding-top: 17px;
  }
  .updates__li:after{
  content: "";
  display: block;
  clear: both;
 }

  .updates__li:last-child {
    padding-top: 17px;
  }

  .updates__li__box {
    width: 83%;
  }

  .updates__more {
    padding-top: 24px;
    padding-right: 17px;
  }

  .partners {
    padding-bottom: 2px;
    width: 73%;
  }

  .partners__logo {
    padding: 24px 0;
  }

  .partners__logo:first-child {
    padding-top: 24px;
    padding-left: 0;
    padding-right: 6%;
  }

  .partners__logo:nth-child(3) {
    padding-top: 24px;
    padding-left: 6.5%;
    padding-right: 6.5%;
  }

  .partners__logo:nth-child(5) {
    padding-top: 24px;
    padding-left: 6%;
    padding-right: 6%;
  }

  .footer-conteiner {
    display: block;
  }

  .list {
    padding-top: 95px;
    padding-bottom: 91px;
  }

  .list__li {
    float: left;
    width: 29%;
  }

  .list__li:nth-child(2) {
    padding-left: 6.4%;
    padding-right: 6.4%;
  }

  .list__label {
    padding-top: 2px;
    font-size: 30px;
  }

  .list__lab {
    padding-top: 0;
    font-size: 48px;
  }

  .list__label--er {
    color: #b9b9b9;
    margin-left: -1px;
  }

  .list__text {
    width: 98%;
    font-size: 16px;
  }

  .list__text--italic {
    font-size: 16px;
  }

  .footer {
    padding-top: 46px;
  }

  .menu__li__footer {
    padding-right: 5.8%;
  }

  .menu__links__footer {
    font-size: 20px;
  }

  .footer_bg {
    width: 100%;
    background: url('../img/footer_bg.png') 0 0 repeat;
  }

  .footer {
    float: left;
    margin: 0;
    width: 80%;
  }

  .menu__li__footer {
    margin-left: 0;
    margin-right: 5.6%;
    padding-right: 0;
  }

  .designed {
    float: right;
    width: 15%;
    padding-top: 55px;
    margin-right: -1px;
    padding-bottom: 47px;
  }

    .hidden, .optional, .optional2{
  display: inline;
  }
}
