.jcarousel-wrapper {
    margin: 20px auto;
    position: relative;
    border: 10px solid #EAC19C;
    width: 600px;
    height: 400px;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
    width: 600px;
    height: 400px;
}

/** Carousel Controls **/

.jcarousel-wrapper .jcarousel-control-prev,
.jcarousel-wrapper .jcarousel-control-next {
    position: absolute;
    top: 200px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #FBF7EE;
    text-decoration: none;
    font: 24px/27px Arial, sans-serif;
    border: 2px solid #D19460;
    color: #D19460;

    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
}

.jcarousel-control-prev:hover, .jcarousel-control-next:hover {
    background: #D1935F;
    color: #fff;
}

.jcarousel-control-prev {
    left: -50px;
}

.jcarousel-control-next {
    right: -50px;
}

.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
    display: block;
}
