<div class="row">
  <div class="input-group col-md-3 col-sm-12">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <input (click)="onChanged('fell');" type="checkbox" aria-label="only fell">
      </div>
      <input type="text" class="form-control" value="Only fell" readonly />
    </div>
  </div>
  <div class="input-group col-md-3 col-sm-12">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <input (click)="onChanged('importance');" type="checkbox" aria-label="only important">
      </div>
      <input type="text" class="form-control" value="Only important" readonly />
    </div>
  </div>
</div>