<div class="row">
  <div class="col-sm-2">
    <div class="input-group">
      <span class="input-group-addon">
        <input [(ngModel)]="onlyFell" (click)="ngOnInit();" type="checkbox" aria-label="only fell">
      </span>
      <span class="input-group-addon">Only fell</span>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="input-group">
      <span class="input-group-addon">
        <input [(ngModel)]="onlyImportant" (click)="ngOnInit();" type="checkbox" aria-label="only important">
      </span>
      <span class="input-group-addon">Only important</span>
    </div>
  </div>
</div>