body{
  background-color: #EBEBEB;
  min-width: 436px;
}

header{
  border-bottom: 1px solid #ccc;
  text-align: center;
}

.left-aside{
  float: left;
  width: 10%;
  min-width: 88px;
  border: 1px solid #ccc;
  margin-top: 5px;
  text-align: center;
}

main:after{
  content: '';
  display: block;
  clear: both;
}

section{
  float: left;
  width: 70%;
  margin: 0px 20px;
}

footer{
  border: 1px solid #ccc;
  margin-top: 5px;
  padding: 0px 5px;
}
